NEXT_PUBLIC_API_BASE_URL="http://localhost:4000"
NEXT_PUBLIC_SUPABASE_URL="https://lgxulhrppihkzwudvmpu.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"

